.view-add-requests {
    width: 100vw;
    max-width: 100%;
}

.view-add-request-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 25px;
}

.view-add-request-data-container {
    width: 60vw;
    margin: 30px auto;
}

.view-add-table-container {
    overflow-x: auto;
}

.view-add-request-title {
    font-size: 30px;
    font-weight: lighter;
    text-decoration: underline;
    margin: 15px 0;
}

.view-add-requests-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin: 30px 0;
}
  
.view-add-requests-table td, .view-add-requests-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.view-add-requests-table tr:nth-child(even){background-color: #f2f2f2;}

.view-add-requests-table tr:hover {background-color: #ddd;}

.view-add-requests-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}

.request-not-found {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
}

.add-controls-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px 0 80px 0;
}

.add-controls {
    width: 180px;
    height: 60px;
    border: 0;
    border-radius: 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    background-color: lightslategray;
}

.add-controls:hover {
    background-color: darkslategray;
}

.add-form-options {
    width: 100%;
    margin: 80px auto;
}

.add-form-options label,
.add-form-options input {
    display: block;
}

.add-form-options div {
    width: 60%;
    margin: 0 auto;
}

.add-form-options input {
    width: 100%;
    line-height: 30px;
    font-size: 15px;
    border-radius: 10px;
    padding: 0 10px;
}

.add-asterisk {
    color: red;
}

.add-restaurant-error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.add-form-options label {
    font-size: 18px;
    margin-bottom: 10px;
}

.add-restaurant-error-message {
    color: red;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}

.register-restaurant-image {
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .view-add-request-data-container {
        width: 95vw;
    }

    .add-controls {
        width: 120px;
        height: 50px;
    }

    .register-restaurant-image {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .register-restaurant-image {
        width: 100%;
    }
}

/* Important: Prevent pdf printing */
@media print {
    .add-document-container {
      display: none;
    }
}
