.claim-requests-container {
    width: 80vw;
    margin: 30px auto;
}

.claim-title {
    font-size: 30px;
    text-decoration: underline;
    font-weight: lighter;
    margin-bottom: 10px;
}

.no-claim-requests {
    font-size: 20px;
    margin-top: 20px;
}

.claim-request-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.claim-table-container {
    overflow-x: auto;
}

.claim-requests {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
  
.claim-requests td, .claim-requests th {
    border: 1px solid #ddd;
    padding: 8px;
}

.claim-requests tr:nth-child(even){background-color: #f2f2f2;}

.claim-requests tr:hover {background-color: #ddd;}

.claim-requests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}

@media screen and (max-width: 800px) {
    .claim-requests-container {
        width: 95vw;
    }
}
